body{
    background-color: #990011FF;
}
video{
    border-radius:12%;
    width:max-content;
    height:500px;
}
canvas{
    position:fixed;
    width:max-content;
    height:500px;

    
}
.mainc{
    text-align: center;

}
.caption{
    text-align: center;
    font-size: 3vw;
    font-family: Honk;
    color:#FCF6F5FF;
}
#carCount{
    font-size:9vw;
}
  